<mat-toolbar>
  <div class="flex w-full items-center">
    <div class="grow flex justify-center items-center userflow-filter-panel">
      <span class="mr-3">Dashboard with filter panel</span>
    </div>

    <button mat-icon-button (click)="openDialog()" class="mr-5">
      <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
    </button>
    <button mat-flat-button (click)="sidenav.toggle()">Open filter panel</button>
  </div>
</mat-toolbar>
<div class="dashboard-with-filter-panel">
  <mat-sidenav-container class="example-container" [hasBackdrop]="panelBackdrop">
    <mat-sidenav [position]="panelPosition === 'right' ? 'end' : 'start'" #sidenav class="sidenav-container border"
      [class.left-panel]="panelPosition === 'left'" [mode]="panelMode">
      <div class="py-5">
        <div class="flex items-center justify-between px-5 pb-5 mb-5 border-b-[1px]">
          <div>Filter panel</div>
          <button mat-stroked-button id="exit" (click)="sidenav.toggle()">Close</button>
        </div>
        <luzmo-viz-item style="height: 100px;" [slots]='
        [{"name": "dimension",
          "content": [
            {
              "label": {
                "en": "Employee"
              },
              "set": "e2217802-c66a-4571-bd60-4846eb15871e",
              "column": "0024ee0d-c965-4027-a905-3c6118118b63",
              "type": "hierarchy"
            }
          ]
        }]' [options]="{ display: { label: true } }" type="dropdown-filter" canFilter="all"></luzmo-viz-item>

        <luzmo-viz-item type="slider-filter" style="height: 100px" [slots]='[
        {
          name: "slidermetric",
          content: [
            {
              label: {
                en: "Amount"
              },
              set: "e2217802-c66a-4571-bd60-4846eb15871e",
              column: "f3b270b4-fe0f-4ac4-b5f3-69280c396735",
              type: "numeric",
              format: "($.0f"
            }
          ]
        }]' [options]="{ display: { title: true }, title: {en: 'Total amount excluding VAT'} }" canFilter="all">
        </luzmo-viz-item>


        <luzmo-viz-item type="slicer-filter" style="height: 400px" [slots]='[
{
  "name": "dimension",
  "content": [
    {
      "label": {
        "en": "Customer"
      },
      "set": "e2217802-c66a-4571-bd60-4846eb15871e",
      "column": "36cc1d13-89bb-4f44-9771-13149af1c81f",
      "type": "hierarchy"
    }
  ]
}
]' [options]="" canFilter="all"></luzmo-viz-item>

        <luzmo-viz-item type="donut-chart" style="height: 300px" [slots]='[{"name":"category",
         "content":[
         {
           "type":"hierarchy",
           "label":{"en":"For"},
           "column": donutColumn,
           "set": datasetId
         }]}]' canFilter="all"></luzmo-viz-item>



        <luzmo-viz-item type="bar-chart" style="height: 300px" canFilter="all" [slots]='[
        {
          "name": "measure",
          "content": [
            {
              "label": {
                "en": "Total Amount"
              },
              "set": datasetId,
              "column": amountColumn,
              "type": "numeric",
              "format": ".2f"
            }
          ]
        },
        {
          "name": "y-axis",
          "content": [
            {
              "label": {
                "en": "Phase"
              },
              "set": datasetId,
              "column": phaseColumn,
              "type": "hierarchy"
            }
          ]
        }
      ]'></luzmo-viz-item>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <luzmo-dashboard [dashboardId]="dashboardId" [embedMode]="'webComponent'" id="mainDashboard"></luzmo-dashboard>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>